{% include "navigation.html" %}
<body>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Trainingsplaner</h1>
        <p>Mit dem Trainingsplaner kannst du Trainingseinheiten für deine Sportgruppe erfassen, abfragen, speichern und
            analysieren!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Übersicht</h2>
            <p>Auf der Übersicht siehst du deine erfassten Traingseinheiten.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('uebersicht') }}" role="button">Übersicht</a></p>
        </div>
        <div class="col-md-4">
            <h2>Erfassen</h2>
            <p>In der Rubrik Erfassen kannst du neue Trainingseinheiten in deiner Datenbank speichern.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('erfassen') }}" role="button">Erfassen</a></p>
        </div>
        <div class="col-md-4">
            <h2>Abfrage</h2>
            <p>In der Rubrik Abfrage kannst du verschiedene Kriterien eingeben und erhältst einen Vorschlag für ein
                Training.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('abfrage') }}" role="button">Abfrage</a></p>
        </div>
    </div>
</div>
{% include "footer.html" %}