{% include "navigation.html" %}
<body>
<h1>Training</h1>
<p>Hier kannst du ein neues Training erfassen</p>
    <form method="post">
        <p>hier sollte eine Auswahl der angelegten Gruppen stehen</p>
        <h2>Datum</h2>
        <input type="date" name="training_datum_erfassen" placeholder="Trainingsdatum"><br>
        <p>hier sollte die Alterskategorie stehen und nicht abänderbar sein</p>
        <h2>Gruppengrösse</h2>
        <input type="number" name="training_gruppengroesse_erfassen" placeholder="Gruppengrösse"><br>
        <button type="submit">Training anlegen</button>
    </form>
{% include "footer.html" %}