{% include "navigation.html" %}
<body>
<h1>Trainingseinheit</h1>
<p>Hier kannst du eine neue Trainingseinheit erfassen.</p>
<form method="post">
    <p>hier sollte das Trainingsdatum stehen und nicht abänderbar sein</p>
    <p>hier sollte die Gruppengrösse und nicht abänderbar sein</p>
    <h2>Trainingstyp</h2>
    <input type="radio" id="Spiel" name="trainingseinheit_typ_erfassen" value="Spiel">
    <label for="Spiel">Spiel</label><br>
    <input type="radio" id="Krafttraining" name="trainingseinheit_typ_erfassen" value="Krafttraining">
    <label for="Krafttraining">Krafttraining</label><br>
    <input type="radio" id="Ausdauertraining" name="trainingseinheit_typ_erfassen" value="Ausdauertraining">
    <label for="Ausdauertraining">Ausdauertraining</label><br>
    <input type="radio" id="externe_Aktivitaet" name="trainingseinheit_typ_erfassen" value="externe_Aktivitaet">
    <label for="externe_Aktivitaet">externe Aktivität</label><br>
    <h2>Ort</h2>
    <input type="radio" id="Drinnen" name="trainingseinheit_ort_erfassen" value="Drinnen">
    <label for="Drinnen">Drinnen</label><br>
    <input type="radio" id="Draussen" name="trainingseinheit_ort_erfassen" value="Draussen">
    <label for="Draussen">Draussen</label><br>
    <h2>Dauer der Trainingseinheit</h2>
    <input type="number" name="trainingseinheit_dauer_erfassen" placeholder="Dauer in Minuten"><br>
    <button type="submit">Vorschläge anzeigen</button>
</form>
{% include "footer.html" %}