{% include "navigation.html" %}
<div class="jumbotron">
    <div class="container">
        <h1>Übersicht</h1>
        <p>Hier siehst du eine Übersicht der letzten Trainings</p>
        <table class="table table-sm">
            {% for training_datum in trainings_gespeichert %}
            <thead class="table-dark">
            <tr>
                <th scope="col">Training</th>
                <th scope="col" colspan="3">{{ training_datum }}</th>
            </tr>
            </thead>
            <tbody class="table-light">
            <tr>
                <th scope="col">Gruppengrösse</th>
                <td colspan="3">{{ trainings_gespeichert[training_datum]["gruppengroesse"] }}</td>
            </tr>
            <tr>
                <th scope="col">Dauer gesamt</th>
                <td colspan="3">{{ trainings_gespeichert[training_datum]["dauer_gesamt"] }}</td>
            </tr>
            <tr>
                <th scope="col" colspan="4">Trainingseinheiten</th>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Typ</th>
                <th scope="col">Dauer</th>
                <th scope="col">Ort</th>
            </tr>
            {% for training_name in trainings_gespeichert[training_datum]["trainings"] %}
            <tr>
                <td>{{ trainings_gespeichert[training_datum]["trainings"][training_name]["name"] }}</td>
                <td>{{ trainings_gespeichert[training_datum]["trainings"][training_name]["typ"] }}</td>
                <td>{{ trainings_gespeichert[training_datum]["trainings"][training_name]["dauer"] }}</td>
                <td>{{ trainings_gespeichert[training_datum]["trainings"][training_name]["ort"] }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('analyse') }}" class="btn btn-lg btn-primary btn-block" role="button" data-bs-toggle="button">Analyse</a>
    </div>
</div>
{% include "footer.html" %}