{% include "navigation.html" %}

<div class="jumbotron">
    <div class="container">
        <h1>Vorschläge Training: {{ datum_training }}</h1>
        <p>Wähle die Trainingseinheit an, welche du übernehmen willst.</p>
        <div class="table table-bordered table-light">
            <form method="POST" action="/vorschlag_speichern/{{ datum_training }}">
                <table border=0>
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Typ</th>
                        <th scope="col">Ort</th>
                        <th scope="col">Gruppengrösse</th>
                        <th scope="col">Dauer</th>
                        <th scope="col">Vorschlag übernehmen</th>
                    </tr>
                    </thead>
                    <!-- Mithilfe der Vor-Schleife werden die Daten der Trainingseinheit sequenziert. -->
                    <tbody>
                    {% for daten in vorschlaege.values() %}
                    <tr>
                        <!-- Die Values des Dicts daten werden mithilfe der Keys ausgegeben. -->
                        <td>{{ daten["name"] }}</td>
                        <td>{{ daten["typ"] }}</td>
                        <td>{{ daten["ort"] }}</td>
                        <td>{{ daten["gruppengroesse"] }}</td>
                        <td>{{ daten["dauer"] }}</td>
                        <!-- Es wird überprüft, ob die Trainingseinheit bereits bei einem Datum in gespeicherte_trainings vorhanden ist.
                        Wenn nein, wird sie normal, erfassbar ausgegeben. -->
                        {% if datum_training in gespeicherte_trainings %}
                        {% if daten['name'] not in gespeicherte_trainings[datum_training]["trainings"] %}
                        <td>
                            <input type="radio" id="{{ daten['name'] }}" name="auswahl"
                                   value="{{ daten['name'] }}" required>
                            <label for="{{ daten['name'] }}">{{ daten['name'] }}</label><br>
                        </td>
                        {% else %}
                        <td>
                            <!-- Ist die Trainingseinheit bereits gespeichert, kann sie nicht nochmals erfast werden. -->
                            Bereits gespeichert
                        </td>
                        {% endif %}
                        {% else %}
                        <td>
                            <input type="radio" id="{{ daten['name'] }}" name="auswahl"
                                   value="{{ daten['name'] }}" required>
                            <label for="{{ daten['name'] }}">{{ daten['name'] }}</label><br>
                        </td>
                        {% endif %}
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Vorschlag speichern</button>
            </form>
        </div>
        <p>Nichts passendes gefunden? Starte eine <a href="{{ url_for('abfrage') }}">neue Abfrage</a>.</p>
    </div>
</div>

{% include "footer.html" %}