{% include "navigation.html" %}

<div class="jumbotron">
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Vorschläge Training: {{ datum_training }}</h1>
        <!-- Der zweite Eintrag (Datum des Trainings) der liste_vorschlaege wird ausgegeben -->
        <p>Wähle die Trainingseinheit an, welche du übernehmen willst.</p>
        {{ liste_vorschlaege }}
        <div class="table table-bordered table-light">
            <table border=0>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Ort</th>
                    <th scope="col">Gruppengrösse</th>
                    <th scope="col">Dauer</th>
                </tr>
                </thead>
                <tbody>
                {% for x in liste_vorschlaege %}
                <tr>
                    {% for daten in x %}
                    <th>{{ daten }}</th>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include "footer.html" %}
